

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码修改成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">

    <meta http-equiv=refresh content=0;url='{% url 'login' %}'/>

</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'blog:index' %}">Django Auth Example</a></h1>
            <p>密码修改成功，将在<span class="second">3</span> 秒后跳转到登录界面......</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
		$(function() {
			var wait = $(".second").html();
			timeOut();
			/**
			 * 实现倒计时
			 */
			function timeOut() {
				if(wait != 0) {
					setTimeout(function() {
						$('.second').text(--wait);
						timeOut();
					}, 1000);
				}
			}
		});
	</script>
</html>