{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="container" style='margin-top: inherit;' >
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="http://www.hluner.cn/blog/article/1"><img src="/media/blog_img/timg.jpeg" alt=""
                                                                                style="width: 845px;height: 470px;">
                                <div class="carousel-caption">
                                    <h2 style="color: aqua">mysql修改默认编码</h2>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href=" http://www.hluner.cn/blog/article/8"><img src="/media/blog_img/summary.png" alt=""
                                                                                style="width: 845px;height: 470px;">
                                <div class="carousel-caption">
                                    <h2 style="color: aqua">python介绍</h2>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href=" http://www.hluner.cn/blog/article/6">
                            <img src="/media/blog_img/django.jpg" alt="" style="width: 845px;height: 470px;">
                            <div class="carousel-caption">

                            </div></a>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                {% get_popular_articles as popular_article_list %}

                {% for article in popular_article_list %}
                    <div class="hot-blog">
                        <a href="{{ article.get_absolute_url }}" target="_blank"></a>

                        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>

                        {% if article.img %}
                            <img src="{{ article.img.url }}" width="20%" height="20%">
                        {% endif %}
                        {% if article.abstract %}
                            <p>{{ article.abstract }}</p>

                        {% else %}
                            <p>{{ article.body|truncatechars:180 }}</p>
                        {% endif %}
                        <p>
                            <span>作者：{{ article.author }}</span>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：{{ article.created_time }}</span>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;阅读数：{{ article.visiting }}</span>

                        </p>
                    </div>
                {% endfor %}


            </div>
            <div class="col-xs-6 col-md-3">
                {% include 'blog/right_site_bar.html' %}
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#identifier').carousel({
                interval: 500
            });

        })
    </script>


{% endblock %}

